
/* Your CSS Code here. */
.container{
border:5px solid rgb(78 238 79 / 1);
	background-color:#ffbbb9;
/* 	padding:5px; */
	
}
.Row1-col1{
	background-color:#008081;
	border:2px dotted black;
}
.Row1-col2{
	border:2px dotted black;
	background-color:#d7bfd7;
}
.Row2-col1{
	background-color:#fe6347;
	border:2px dotted black;
}
.Row2-col2{
	background-color:#3fe0d0;
	border:2px dotted black;
}
.Row3-col1{
	background-color:#ee82ef;
	border:2px dotted black;
}
.Row3-col2{
background-color:#9acd32;
	border:2px dotted black;
}
.black-box{
	background-color:black;
	border:2px dotted black;
	
}
.row div{
	height:190px;
	
}



