 .my-container {
        border: 5px solid #4eef4f;
        padding: 2px;
        background: #ffbaba;
    }

    .r1c1 {
        background-color: #008081;
        height: 190px;

    }

    .r1c2 {
        height: 190px;

        background: #d7bfd7;
    }

    .r2c1 {
        height: 190px;

        background: #fe6347;
    }

    .r2c2 {
        height: 190px;

        background: #3fe0d0;
    }

    .r3c1 {
        background: #ee82ef;
        height: 190px;

    }

    .r3c2 {
        background: #9acd32;
        height: 190px;

    }

    .my-container div {
        border: 1px dotted black;

    }